.battery {
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
    border: solid thin #EEEEEE;
    position: relative;
    box-sizing: border-box;
    background-color: #EEEEEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.battery:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    height: 20px;
    width: 7px;
    background: #EEEEEE;
}

.bar {
    border-radius: 5%;
    flex-grow: 1;
    cursor: pointer;
    display: block;
    border: solid thin rgba(255, 255, 255, 0.1);
    margin: 0 0.5px;
    padding: 18px 0;
    height: 30px;
    background: #ffffff;
    transition: background 1s;
}

.bar:first-child {
    margin-left: 0;
}

.bar:last-child {
    margin-right: 0;
}

.bar.active.red {
    background: #F72464;
}

.bar.active.yellow {
    background: #FCDC2A;
}

.bar.active.green {
    background: #40A578;
}

