<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <div th:insert="fragments/config::configFragment"></div>
    </head>
    <body>
        <div class="container-scroller">
            <nav th:replace="fragments/topbar::topbarFragment"></nav>
            <div class="container-fluid page-body-wrapper pt-0 proBanner-padding-top">
                <nav th:replace="fragments/sidebar::sidebarFragment"></nav>
                <div class="main-panel">
                    <div class="content-wrapper">
                        <th:block layout:fragment="content"></th:block>
                    </div>
                    <footer class="footer" th:replace="fragments/footer::footerFragment"></footer>
                </div>
                <nav th:replace="fragments/slidebar"></nav>
            </div>
        </div>
    </body>
</html>


