<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
<head>
<meta charset='utf-8' />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="/assets/js/attendance.js"></script>
  <link rel="stylesheet" href="/assets/css/attendance.css">
</head>
<body>
  <th:block layout:fragment="content">
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-messaging.js"></script>
    <script src="/assets/js/home.js"></script>
    
    <div id='calendar'></div>
    
  </th:block>
</body>
</html>
