<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
<head>
    <script src="/assets/js/broker.js"></script>
    <link rel="stylesheet" href="/assets/css/table.css">
    <link rel="shortcut icon" href="/assets/images/logo-mini.png">
</head>
<body>
<th:block layout:fragment="content">

<!--    <div class="d-flex justify-content-between">-->
<!--        <h1>브로커 관리</h1>-->
<!--       -->
<!--    </div>-->
    <div class="container overflow-auto">
        <div class="d-flex justify-content-between">
            <h3 style="font-weight: bold">브로커 관리⚙️</h3>
            <button type="button"
                    class="btn btn-gradient-success btn-rounded" style="font-weight: bold" data-bs-toggle="modal"
                    data-bs-target="#brokerAddModal">브로커 추가
            </button>
        </div>
        
        <div class="row" style="margin-top: 20px">
            <div class="col-12">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"><b>브로커 이름</b></th>
                        <th scope="col"><b>프로토콜</b></th>
                        <th scope="col"><b>IP주소</b></th>
                        <th scope="col"><b>포트</b></th>
                        <th scope="col"><b>상태</b></th>
                        <th scope="col"><b>동작</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="brokers : ${brokers}" style="border-bottom: 1px solid rgba(0,0,0,.2);">
                        <td th:text="${brokers.brokerId}"></td>
                        <td>
                            <a th:href="@{'/broker/' + ${brokers.brokerId}+'/sensor?broker='+${brokers.brokerName}}"
                               th:text="${brokers.brokerName}"></a>
                        </td>
                        <td th:text="${brokers.protocolType}"></td>
                        <td th:text="${brokers.brokerIp}"></td>
                        <td th:text="${brokers.brokerPort}"></td>
                        <td th:text="'동작중'" th:if="${brokerStatus[brokers.brokerId] == 'running'}"></td>
                        <td th:text="'중지'" th:unless="${brokerStatus[brokers.brokerId] == 'running'}"></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm btn-rounded updateButton"
                                    style="background-color: #9c9fa6; border-color: #9c9fa6"
                                    data-bs-toggle="modal"
                                    data-bs-target="#brokerUpdateModal">변경
                            </button>
                            <!--                                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>-->
                            <button type="button" class="btn btn-danger btn-sm btn-rounded deleteButton"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">삭제
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                <h5 class="modal-title" id="deleteModalLabel">정말로 삭제하시겠습니까?<br><span
                                        style="color: gray;font-size: small">삭제 후 복구가 불가능합니다.</span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <p style="color: red; font-size: large" id="deleteModalContent"></p>
                            </div>
                            <p id="brokerDeleteId" style="visibility: hidden"></p>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-danger"
                                        style="border-top: 1px solid rgba(0, 0, 0, 0.1);" id="deleteModalDeleteButton">
                                    삭제
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${page > 0}">
                            <a class="page-link" href="/broker?page=0" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${page > 0}">
                            <a class="page-link" th:href="@{'/broker?page=' + ${page - 1}}" th:text="${page}"></a>
                        </li>
                        <li class="page-item active">
                            <p class="page-link" th:text="${page + 1}"></p>
                        </li>
                        <li class="page-item" th:if="${page + 1 < size}">
                            <a class="page-link" th:href="@{'/broker?page=' + ${page + 1}}" th:text="${page + 2}"></a>
                        </li>
                        <li class="page-item" th:if="${size - 1 > 0 && page < size - 1}">
                            <a class="page-link" th:href="@{'/broker?page=' + ${size - 1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="modal fade" id="brokerAddModal" tabindex="-1" aria-labelledby="brokerAddModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                    <h1 class="modal-title fs-5" id="brokerAddModalLabel"><b>브로커 추가</b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="brokerName" class="form-label">
                                <b>브로커 이름</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input id="brokerName" class="form-control rounded-3 border-secondary" type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="protocolType" class="form-label">
                                <b>브로커 타입</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <label id="protocolType">
                                <select class="form-select" id="add-form-select">
                                    <option selected th:id="'add_type_'+${type}">선택</option>
                                    <th:block th:each="type : ${protocolTypeList}">
                                        <option th:value="${type}">
                                            <span th:text="${type}"></span>
                                        </option>
                                    </th:block>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="brokerIp" class="form-label">
                                <b>IP 주소</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input id="brokerIp" class="form-control rounded-3 border-secondary" type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="brokerPort" class="form-label">
                                <b>포트</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input id="brokerPort" class="form-control rounded-3 border-secondary" type="text">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center"
                     style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                    <button type="button" id="brokerAddButton" class="btn btn-primary" style="background-color: darkcyan; border-color: darkcyan">추가</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="brokerUpdateModal" tabindex="-1" aria-labelledby="brokerUpdateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                    <h1 class="modal-title fs-5" id="brokerUpdateModalLabel"><b>브로커 수정</b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="updateBrokerName" class="form-label">
                                <b>브로커 이름</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input id="updateBrokerName" class="form-control rounded-3 border-secondary"
                                   type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="updateProtocolType" class="form-label">
                                <b>브로커 타입</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <label id="updateProtocolType">
                                <select class="form-select" id="update-form-select">
                                    <option selected>선택</option>
                                    <th:block th:each="type : ${protocolTypeList}">
                                        <option th:value="${type}" th:id="'update_type_' + ${type}">
                                            <span th:text="${type}"></span>
                                        </option>
                                    </th:block>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="updateBrokerIp" class="form-label">
                                <b>IP 주소</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input id="updateBrokerIp" class="form-control rounded-3 border-secondary" type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-center align-self-center">
                            <label for="updateBrokerPort" class="form-label">
                                <b>포트</b>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input id="updateBrokerPort" class="form-control rounded-3 border-secondary"
                                   type="text">
                        </div>
                    </div>
                </div>
                <p id="updateBrokerId" style="visibility: hidden"></p>
                <div class="modal-footer d-flex justify-content-center"
                     style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                    <button type="button" id="brokerUpdateButton" class="btn btn-primary"
                            style="background-color: darkcyan; border-color: darkcyan">수정</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>