<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                                    <div class="row mb-3">
                                        <div class="col-md-4 text-center">
                                            <input type="text" class="form-control" id="startDate">
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <input type="text" class="form-control" id="endDate">
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tagSelectModal">태그 선택</button>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">합산</h4>
                                    <p class="card-description"> Basic Column Chart </p>
                                    <div id="comparison-sum" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">비교</h4>
                                    <p class="card-description"> Spline with Symbols </p>
                                    <div id="comparison-individual" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-2 text-center">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tagSelectModal2">태그 선택</button>
                            </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">비교</h4>
                                    <p class="card-description"> responsive chart </p>
                                    <div id="comparison-group" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="tagSelectModal" tabindex="-1" aria-labelledby="tagSelectModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <h1 class="modal-title fs-5" id="tagSelectModalLabel"><b>태그 선택</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-12 text-center align-self-center">
                                    <label for="tagCheckboxGroup" class="form-label">
                                        <b>태그 목록</b>
                                    </label>
                                    <div id="tagCheckboxGroup"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            <button type="button" id="tagSelectButton"
                                    class="btn btn-primary">선택 완료</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="tagSelectModal2" tabindex="-1" aria-labelledby="tagSelectModalLabel2"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <h1 class="modal-title fs-5" id="tagSelectModalLabel2"><b>태그 선택</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-12 text-center align-self-center">
                                    <label for="tagCheckboxGroup2" class="form-label">
                                        <b>태그 목록</b>
                                    </label>
                                    <div id="tagCheckboxGroup2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            <button type="button" id="tagSelectButton2"
                                    class="btn btn-primary">선택 완료</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
            
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <script src="https://code.highcharts.com/modules/series-label.js"></script>

            <script src="/assets/js/comparison/date-tags.js"></script>
            <script src="/assets/js/comparison/tags-1.js"></script>
            <script src="/assets/js/comparison/tags-2.js"></script>
            
        </th:block>
    </body>
</html>
