<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        <style>
            #chartdiv {
                width: 100%;
                height: 300px;
            }
            #my-flip {
                /* increase border radius */
                border-radius:.3125em;
                font-size: 1.8vw;

                /* increase spacing between letters */
            }
            #my-flip .tick-flip-panel {
                color: #555;
                background-color: #fafafa;
            }
        </style>
        <link rel="stylesheet" href="/assets/css/battery.css">
        <link href="https://unpkg.com/@pqina/flip/dist/flip.min.css" rel="stylesheet">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card" style="align-items: center">
                        <div>
                            <div class="tick"
                                 data-value="0"
                                 data-did-init="setupFlip"
                                 style="align-items: center">

                                <div data-repeat="true" aria-hidden="true">
                                    <span id="my-flip"
                                          data-view="flip"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 d-flex align-items-stretch">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div id="project_container">
                                <div id="projectbox">
                                    <!-- Start project HTML -->
                                    <div class='battery'>
                                        <div class='bar' data-power='5'></div>
                                        <div class='bar' data-power='10'></div>
                                        <div class='bar' data-power='15'></div>
                                        <div class='bar' data-power='20'></div>
                                        <div class='bar' data-power='25'></div>
                                        <div class='bar' data-power='30'></div>
                                        <div class='bar' data-power='35'></div>
                                        <div class='bar' data-power='40'></div>
                                        <div class='bar' data-power='45'></div>
                                        <div class='bar' data-power='50'></div>
                                        <div class='bar' data-power='55'></div>
                                        <div class='bar' data-power='60'></div>
                                        <div class='bar' data-power='65'></div>
                                        <div class='bar' data-power='70'></div>
                                        <div class='bar' data-power='75'></div>
                                        <div class='bar' data-power='80'></div>
                                        <div class='bar' data-power='85'></div>
                                        <div class='bar' data-power='90'></div>
                                        <div class='bar' data-power='95'></div>
                                        <div class='bar' data-power='100'></div>
                                    </div>
                                    <!-- End Project HTML -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 d-flex align-items-stretch">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전력량 1시간 (최근 24시간)</h4>
                            <p class="card-description"> Time series Zoomable 야 이 ㅇㅇㅇㅇㅇㅇ바보야!!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">전력량 1일 (최근 일주일)</h4>
                                    <p class="card-description"> Dual axis line and Column </p>
                                    <div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">10분 단위 전력</h4>
                            <div>
                                <div id="container1" style="height:300px; margin-top: 30px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">1시간 단위 전력</h4>
                            <div>
                                <div id="container2" style="height:300px; margin-top: 30px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">센서별 TOP5 전력량 (최근 24시간) </h4>
                            <div>
                                <div id="chartdiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전압</h4>
                            <p class="card-description">게이지 그래프 3개</p>
                            <div>
                            
                            </div>
                            <div>
                            
                            </div>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">??</h4>
                            <p class="card-description"></p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-messaging.js"></script>
            <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
            <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
            <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
            <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://unpkg.com/@pqina/flip/dist/flip.min.js"></script>

            <script src="/assets/js/dashboard/battery.js"></script>
            <script src="/assets/js/sensorRaderChart.js"></script>
            <script src="/assets/js/home.js"></script>
            <script src="/assets/js/dashboard/watt.js"></script>
            <script src="/assets/js/dashboard/cost.js"></script>
        </th:block>
    </body>
</html>
