<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head></head>
    <body>
        <th:block layout:fragment="content">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전력량 1시간 (최근 24시간)</h4>
                            <p class="card-description"> Time series Zoomable </p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">전력량 1일 (최근 일주일)</h4>
                                    <p class="card-description"> Dual axis line and Column </p>
                                    <div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전력 10분 (최근 2시간)</h4>
                            <p class="card-description"> Sonification Navigation </p>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전력 1시간 (최근 24시간) </h4>
                            <p class="card-description"> Sonificaion Navigation </p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">센서별 (최근 24시간) </h4>
                            <p class="card-description"> live sorting of radar columns </p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전압</h4>
                            <p class="card-description">게이지 그래프 3개</p>
                            <div>
                            
                            </div>
                            <div>
                            
                            </div>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">??</h4>
                            <p class="card-description"></p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-messaging.js"></script>
            <script src="/assets/js/home.js"></script>
        </th:block>
    </body>
</html>
