<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
    </head>
    <body>
        <th:block layout:fragment="content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card" style="width: 950px; margin: 0 auto;">
                                <div class="card-body">
                                    <div class="page-header border-bottom">
                                        <h1 class="page-title"> <b th:text="${userName}"></b>님 어서오세요  <a th:href="@{/verify-pwd}" class="btn btn-gradient-info btn-rounded btn-fw btn-sm">수정</a></h1>
                                        
                                        <nav aria-label="breadcrumb">
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item active" aria-current="page" id="pointBalanceLink">
                                                    <span>포인트 잔액: <span th:text="${pointBalance}"></span></span>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <button type="button" class="btn btn-outline-danger btn-icon-text btn-fw"
                                            id="attendanceButton">출석</button>
                                    <button type="button" class="btn btn-outline-danger btn-icon-text btn-fw"
                                            id="achievementButton">업적</button>
                                    <button type="button" class="btn btn-outline-danger btn-icon-text btn-fw"
                                            id="pointButton">포인트</button>
                                    <h1> </h1><p></p>
                                    <h1> </h1><p></p>
                                    <h1> </h1><p></p>
                                    <h1> </h1><p></p>
                                    <div id="content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <script src="/assets/js/mypage.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
            <link rel="stylesheet" href="/assets/css/attendance.css">
        </th:block>
    </body>
</html>