<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        <link rel="shortcut icon" href="/assets/images/logo-mini.png">
    </head>
    <body>
        <th:block layout:fragment="content">
                            <div class="card" style="width: 950px; margin: 0 auto;">
                                <div class="card-body">
                                    <div class="page-header border-bottom">
                                        <h1 class="page-title"> <b th:text="${userName}"></b>님 어서오세요  <a
                                                th:href="@{/verify-pwd}"
                                                class="btn btn-gradient-success btn-rounded btn-fw btn-sm"
                                                style="font-weight: bold">수정</a></h1>
                                        
                                        <nav aria-label="breadcrumb">
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item active" aria-current="page" id="pointBalanceLink">
                                                    <span>포인트 잔액: <span th:text="${pointBalance}"></span></span>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text btn-fw"
                                            id="attendanceButton">출석</button>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text btn-fw"
                                            id="pointButton">포인트</button>

                                    <div id="github-login">
                                        <a href="/oauth2/authorization/github" class="btn-gradient-success fast-login-btn"
                                           style="width: 100px" th:if="${!oauths.contains('github')}">깃허브 oauth 추가</a>
                                        <button href="/oauth?providerName=github" class="btn-gradient-success fast-login-btn"
                                           style="width: 100px" th:unless="${!oauths.contains('github')}">깃허브 oauth 삭제</button>
                                        <script>
                                            document.getElementById("github-login").addEventListener("click", function (e) {
                                                if (e.target.tagName === "BUTTON") {
                                                    fetch("/oauth?providerName=github", {
                                                        method: "DELETE",
                                                        headers: {
                                                            "Content-Type": "application/json"
                                                        }
                                                    }).then(response => {
                                                        if (response.ok) {
                                                            location.reload();
                                                        }
                                                    });
                                                }
                                            });
                                        </script>
                                    </div>
                                    <div id="kakao-login">
                                        <a href="</a>" class="btn-gradient-success fast-login-btn"
                                           style="width: 100px" th:if="${!oauths.contains('kakao')}">카카오 oauth 추가</a>
                                        <button href="/oauth2/authorization/kakao" class="btn-gradient-success fast-login-btn"
                                             style="width: 100px" th:unless="${!oauths.contains('kakao')}">카카오 oauth 삭제</button>
                                        <script>
                                            document.getElementById("kakao-login").addEventListener("click", function (e) {
                                                if (e.target.tagName === "BUTTON") {
                                                    fetch("/oauth?providerName=kakao", {
                                                        method: "DELETE",
                                                        headers: {
                                                            "Content-Type": "application/json"
                                                        }
                                                    }).then(response => {
                                                        if (response.ok) {
                                                            location.reload();
                                                        }
                                                    });
                                                }
                                            });
                                        </script>


                                    <h1> </h1><p></p>
                                    <h1> </h1><p></p>
                                    <h1> </h1><p></p>
                                    <h1> </h1><p></p>
                                    <div id="content"></div>
                                </div>
                            </div>
            <script src="/assets/js/mypage.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
            <link rel="stylesheet" href="/assets/css/attendance.css">
        </th:block>
    </body>
</html>