<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            th {
                font-weight: bold;
            }
        </style>
        <link rel="shortcut icon" href="/assets/images/logo-mini.png">
    </head>
    <body>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #d1f5f0;">
                        <th style="font-weight: bold">ID</th>
                        <th style="font-weight: bold">금액</th>
                        <th style="font-weight: bold">유형</th>
                        <th style="font-weight: bold">포인트 적립/사용일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(pointDetails)}">
                        <td colspan="3">포인트 기록이 없습니다.</td>
                    </tr>
                    <tr th:each="pointDetail, iterStat : ${pointDetails}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${pointDetail.pointDetailAmount}"></td>
                        <td>
                            <span th:if="${pointDetail.pointDetailType == 'ACCUMULATION'}">적립</span>
                            <span th:if="${pointDetail.pointDetailType == 'EVENT_ACCUMULATION'}">이벤트 적립</span>
                            <span th:if="${pointDetail.pointDetailType == 'USAGE'}">사용</span>
                        </td>
                        <td th:text="${#temporals.format(pointDetail.pointRecordDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>