<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="../../assets/css/styles.css">
        <link rel="shortcut icon" href="../../assets/images/favicon.ico"/>
    </head>
    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth">
                    <div class="row flex-grow">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left p-5">
                                <div class="brand-logo">
                                    <img src="../../assets/images/logo.svg">
                                </div>
                                <h4>New here?</h4>
                                <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                                <form class="pt-3" action="/register" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" id="userId"
                                               placeholder="아이디" name="userId">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg"
                                               id="userPassword" name="userPassword"
                                               placeholder="비밀번호">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg"
                                               id="userName" name="userName"
                                               placeholder="이름">
                                    </div>
                                    <div class="form-group email-group">
                                        <input type="email" class="form-control form-control-lg" id="userEmail"
                                               placeholder="이메일" name="userEmail">
                                        <button type="button" class="btn btn-primary" id="sendCertificationNumber">인증번호
                                                                                                         전송</button>
                                    </div>
                                    <div class="form-group test-group">
                                        
                                        <input type="text" class="form-control form-control-lg"
                                               id="certificationNumber" name="certificationNumber"
                                               placeholder="인증번호">
                                        <button type="button" class="btn btn-primary" id="verification">확인</button>
                                    
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                                                type="submit">SIGN UP
                                        </button>
                                    </div>
                                    <div class="text-center mt-4 font-weight-light"> Already have an account? <a
                                            href="/login"
                                            class="text-primary">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/assets/js/email.js"></script>
    </body>
</html>