<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="../../assets/css/styles.css">
        <link rel="shortcut icon" href="../../assets/images/favicon.ico"/>
        <script src="/assets/js/register.js"></script>
        
        <style>
            .position-absolute-center {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        </style>
    </head>
    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth">
                    <div class="row flex-grow">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left p-5">
                                <div class="brand-logo">
                                    <img src="../../assets/images/logo.svg">
                                </div>
                                <h4>New here?</h4>
                                <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                                    <div class="form-group position-relative">
                                        <input type="text" class="form-control form-control-lg" id="userId"
                                               placeholder="아이디" name="userId">
                                        <button type="button"
                                                class="btn btn-primary btn-sm btn-rounded position-absolute-center"
                                                id="duplicationButton">중복 확인
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg"
                                               id="userPassword" name="userPassword"
                                               placeholder="비밀번호">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg"
                                               id="userName" name="userName"
                                               placeholder="이름">
                                    </div>
                                
                                <div class="form-group d-flex align-items-center">
                                    <input type="text" id="userEmail" name="userEmail" class="form-control form-control-lg"
                                           title="이메일 아이디" placeholder="이메일" maxlength="18"/>
                                    <span style="margin: 0 5px;">@</span>
                                    <input type="text" id="emailDomain" name="emailDomain"
                                           class="form-control form-control-lg"
                                           title="이메일 도메인" placeholder="도메인" maxlength="18"/>
                                    
                                    <select id="domainSelect"
                                            class="form-select"
                                            title="이메일 도메인 주소 선택" style="margin-left: 10px">
                                            <option value="">직접입력</option>
                                            <option value="naver.com">naver.com</option>
                                            <option value="gmail.com">gmail.com</option>
                                            <option value="hanmail.net">hanmail.net</option>>
                                            <option value="nate.com">nate.com</option>
                                    </select>
                                </div>
                                
                                <div class="form-group text-end">
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded"
                                            id="sendCertificationNumberButton">
                                        인증번호 전송</button>
                                </div>
                                
<!--                                <div class="form-group position-relative">-->
<!--                                    <input type="email" class="form-control form-control-lg" id="userEmail"-->
<!--                                           placeholder="이메일" name="userEmail">-->
<!--                                    -->
<!--                                    <button type="button" class="btn btn-primary btn-sm position-absolute-center"-->
<!--                                            id="sendCertificationNumberButton">확인</button>-->
<!--                                </div>-->
                                
                                <div class="form-group position-relative">
                                    <input type="text" class="form-control form-control-lg"
                                           id="certificationNumber" name="certificationNumber"
                                           placeholder="인증번호">
                                    <button type="button"
                                            class="btn btn-primary btn-sm btn-sm btn-rounded position-absolute-center"
                                            id="verificationButton">확인</button>
                                </div>
                                
                                    <div class="auth-form-light text-left p-5 text-center">
                                        <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                                                type="submit" id="signupButton">SIGN UP
                                        </button>
                                    </div>
                                    <div class="text-center mt-4 font-weight-light"> Already have an account?
                                        <a href="/login" class="text-primary">Login</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>