<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head></head>
    <body>
        <th:block layout:fragment="content">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전체 기간 전력량</h4>
                            <p class="card-description"></p>
                            <div id="statistics-total" style="height: 380px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">시간대별 전력량</h4>
                            <p class="card-description"></p>
                            <div id="statistics-timezone" style="height: 350px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">최근 일주일 센서별 상위 전력량</h4>
                            <p class="card-description"></p>
                            <div id="statistics-sensor" style="height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">연도별 목표 달성 여부</h4>
                            <p class="card-description"></p>
                            <div class="overlay-buttons">
                                <div class="left-overlay">
                                    <button id="prevYearBtn" class="btn btn-primary"
                                            style="background-color: transparent; border: none; color: black;">
                                        <span class="mdi mdi-chevron-left"
                                              style="font-size: 50px; color: #8c8c8c;"></span>
                                    </button>
                                </div>
                                <div class="right-overlay">
                                    <button id="nextYearBtn" class="btn btn-primary"
                                            style="background-color: transparent; border: none; color: black;">
                                        <span class="mdi mdi-chevron-right"
                                              style="font-size: 50px; color: #8c8c8c;"></span>
                                    </button>
                                </div>
                            </div>
                            <div id="statistics-goal" style="height: 320px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">동일 사업장 전력량 평균 비교</h4>
                            <p class="card-description"></p>
                            <p class="card-description"></p>
                            <div id="avg" style="height: 320px"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
            
            <script src="https://code.highcharts.com/stock/highstock.js"></script>
            <script src="https://code.highcharts.com/highstock.js"></script>
            <script src="https://code.highcharts.com/highcharts-more.js"></script>
            <script src="https://code.highcharts.com/modules/heatmap.js"></script>
            <script src="https://code.highcharts.com/modules/treemap.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/series-label.js"></script>
            
            <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
            <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
            <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
            
            <script src="/assets/js/statistics/total.js"></script>
            <script src="/assets/js/statistics/timezone.js"></script>
            <script src="/assets/js/statistics/sensor.js"></script>
            <script src="/assets/js/statistics/goal.js"></script>
            
            
            <script src="/assets/js/statistics/avg.js"></script>
        </th:block>
    </body>
</html>
