<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head></head>
    <body>
        <th:block layout:fragment="content">
            <div class="row">
                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전체 1시간</h4>
                            <p class="card-description"> range selector with data grouping </p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">시간대별</h4>
                                    <p class="card-description"> Solid Gauge </p>
                                    <div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">센서 (최근 일주일)</h4>
                                    <p class="card-description"> Tree map with color axis </p>
                                    <div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">연도별 월단위 (목표량)</h4>
                            <p class="card-description"> Column line and pie </p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">외부 api</h4>
                            <p class="card-description"> ?? </p>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
