<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        <script src="/assets/js/topic.js"></script>
        <link rel="stylesheet" href="/assets/css/table.css">
        <style>
            .container {
                padding: 2rem 0rem;
            }

            h4 {
                margin: 2rem 0rem 1rem;
            }

            .table-image {
                td, th {
                    vertical-align: middle;
                }
            }
            .table-bordered thead th,
            .table-bordered tbody th,
            .table-bordered tbody td {
                background-color: white;
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="container overflow-auto">
                <div class="d-flex justify-content-between">
                    <h3 style="font-weight: bold" th:text="'토픽 관리&nbsp;🤪'+${sensor}+'🤪'"></h3>
                    <button type="button"
                            class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#topicAddModal">토픽 추가</button>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-12">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col"><b>타입</b></th>
                                <th scope="col"><b>토픽</b></th>
                                <th scope="col"><b>동작</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="topics : ${topics}" style="border-bottom: 1px solid rgba(0,0,0,.2);">
                                <td th:text="${topics.topicId}"></td>
                                <td th:text="${topics.topicType}"></td>
                                <td th:text="${topics.topic}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm updateButton"
                                            data-bs-toggle="modal"
                                            data-bs-target="#topicUpdateModal">변경</button>
<!--                                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>-->
                                    <button type="button" class="btn btn-danger btn-sm deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                        <h5 class="modal-title" id="deleteModalLabel">정말로 삭제하시겠습니까?<br><span style="color: gray;font-size: small">삭제 후 복구가 불가능합니다.</span></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p style="color: red" id="deleteModalContent"></p>
                                    </div>
                                    <p id="topicDeleteId" style="visibility: hidden"></p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" style="border-top: 1px solid rgba(0, 0, 0, 0.1);" id="deleteModalDeleteButton">삭제</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:if="${page > 0}">
                                    <a class="page-link" th:href="@{'/broker/'+${brokerId}+'/sensor/'+${sensorId}+'/topic?page=0&sensor=' + ${sensor}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item" th:if="${page > 0}">
                                    <a class="page-link" th:href="@{'/broker/'+${brokerId}+'/sensor/'+${sensorId}+'/topic?page=' + ${page - 1}} + '&sensor=' + ${sensor}" th:text="${page}"></a>
                                </li>
                                <li class="page-item active">
                                    <p class="page-link" th:text="${page + 1}"></p>
                                </li>
                                <li class="page-item" th:if="${page + 1 < size}">
                                    <a class="page-link" th:href="@{'/broker/'+${brokerId}+'/sensor/'+${sensorId}+'/topic?page=' + ${page + 1}} + '&sensor=' + ${sensor}" th:text="${page + 2}"></a>
                                </li>
                                <li class="page-item" th:if="${size - 1 > 0 && page < size - 1}">
                                    <a class="page-link" th:href="@{'/broker/'+${brokerId}+'/sensor/'+${sensorId}+'/topic?page=' + ${size - 1}} + '&sensor=' + ${sensor}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="topicAddModal" tabindex="-1" aria-labelledby="topicAddModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <h1 class="modal-title fs-5" id="topicAddModalLabel"><b>토픽 추가</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-4 text-center align-self-center">
                                    <label for="topic" class="form-label">
                                        <b>토픽</b>
                                    </label>
                                </div>
                                <div class="col-md-7">
                                    <input id="topic" class="form-control rounded-3 border-secondary" type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 text-center align-self-center">
                                    <label for="topicType" class="form-label">
                                        <b>토픽 타입</b>
                                    </label>
                                </div>
                                <div class="col-md-7">
                                    <label id="topicType">
                                        <select class="form-select" id="add-form-select">
                                            <option selected th:id="'add_type_'+${type}">선택</option>
                                            <th:block th:each="type : ${topicTypes}">
                                                <option th:value="${type}">
                                                    <span th:text="${type}"></span>
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            <button type="button" id="topicAddButton" class="btn btn-primary">추가</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="topicUpdateModal" tabindex="-1" aria-labelledby="topicUpdateModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <h1 class="modal-title fs-5" id="topicUpdateModalLabel"><b>토픽 수정</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-4 text-center align-self-center">
                                    <label for="updateTopic" class="form-label">
                                        <b>토픽</b>
                                    </label>
                                </div>
                                <div class="col-md-7">
                                    <input id="updateTopic" class="form-control rounded-3 border-secondary"
                                           type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 text-center align-self-center">
                                    <label for="updateTopicType" class="form-label">
                                        <b>토픽 타입</b>
                                    </label>
                                </div>
                                <div class="col-md-7">
                                    <label id="updateTopicType">
                                        <select class="form-select" id="update-form-select">
                                            <option selected>선택</option>
                                            <th:block th:each="type : ${topicTypes}">
                                                <option th:value="${type}" th:id="'update_type_' + ${type}">
                                                    <span th:text="${type}"></span>
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p id="updateTopicId" style="visibility: hidden"></p>
                        <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            <button type="button" id="topicUpdateButton" class="btn btn-primary">수정</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>