<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        <script src="/assets/js/approval.js"></script>
        <link rel="stylesheet" href="/assets/css/table.css">
    </head>
    <body>
        <th:block layout:fragment="content">
            <script src="/assets/js/home.js"></script>
            
            <h3 style="font-weight: bold; text-align: center">회원 승인 대기 목록</h3>
            <div>
                <table style="width: 1200px; margin: 0 auto;">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center">이름</th>
                            <th scope="col" style="text-align: center">아이디</th>
                            <th scope="col" style="text-align: center">요청일</th>
                            <th scope="col" style="text-align: center">권한</th>
                            <th scope="col" style="text-align: center">승인/거절</th>
                        </tr>
                    </thead>
                    <tbody th:if="${#lists.isEmpty(waitingUserList)}">
                        <tr>
                            <td colspan="5" style="text-align: center">승인 요청 대기중인 회원이 없습니다.</td>
                        </tr>
                    </tbody>
                    <tbody th:if="${not #lists.isEmpty(waitingUserList)}">
                        <tr th:each="user : ${waitingUserList}">
                            <td th:text="${user.userName}"></td>
                            <td th:text="${user.userId}"></td>
                            <td th:text="${user.requestDate}"></td>
                            <td>
                                <label>
                                    <select th:id="'selectRole_' + ${user.userId}">
                                        <option value="">선택</option>
                                        <th:block th:each="role : ${roleList}">
                                            <option th:value="${role.roleId}">
                                                <span th:if="${role.roleInfo == 'ROLE_ADMIN'}">관리자</span>
                                                <span th:if="${role.roleInfo == 'ROLE_USER'}">회원</span>
                                            </option>
                                        </th:block>
                                    </select>
                                </label>
                            </td>
                            <td class="text-center">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <form id ="approveForm" method="POST" action="/approve">
                                        <button type="button"
                                                class="btn btn-primary btn-sm me-md-2 approveButton"
                                                style="background-color: darkcyan; border-color: darkcyan">승인
                                            <input type="hidden" id="userId" name="userId" th:value="${user.userId}" />
                                        </button>
                                    </form>
                                    <form method="POST" action="/reject">
                                        <button type="submit" class="btn btn-secondary btn-sm">거절</button>
                                        <input type="hidden" name="userId" th:value="${user.userId}" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div style="margin-top: 300px">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${page > 0}">
                            <a class="page-link" href="/user-approval?page=0" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${page > 0}">
                            <a class="page-link" th:href="@{'/user-approval?page=' + ${page - 1}}" th:text="${page}"></a>
                        </li>
                        <li class="page-item active">
                            <p class="page-link" th:text="${page + 1}"></p>
                        </li>
                        <li class="page-item" th:if="${page + 1 < size}">
                            <a class="page-link" th:href="@{'/user-approval?page=' + ${page + 1}}" th:text="${page + 2}"></a>
                        </li>
                        <li class="page-item" th:if="${size - 1 > 0 && page < size - 1}">
                            <a class="page-link" th:href="@{'/user-approval?page=' + ${size - 1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </th:block>
    </body>
</html>