<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        
        <script src="/assets/js/user-modify.js"></script>
        
        <style>
            .button-group {
                display: flex;
                flex-direction: column; /* 버튼들을 세로로 배치 */
                align-items: center; /* 가운데 정렬 */
                gap: 5px; /* 버튼 사이의 간격 조절 */
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card text-center" style="width: 950px; margin: 0 auto;">
                            <div class="card-body">
                                <div class="page-header border-bottom">
                                    <h5 class="page-title" style="font-weight: bold;">회원정보 수정</h5>
                                </div>
                                <div class="userModifyForm">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row"><label for="userId">아이디</label></th>
                                                <td>
                                                    <input type="text" class="form-control" id="userId" name="userId" th:value="${userId}" readonly>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="userName">이름</label></th>
                                                <td>
                                                    <input type="text" class="form-control" id="userName" name="userName"
                                                           th:value="${userName}" required>
                                                    <div class="error-message" id="errorMessage"
                                                         style="color: red; margin-top: 10px; font-size: 13px; text-align: left"></div>
                                                </td>
                                                <td>
                                                    <button id="modifyNameButton" class="btn btn-primary btn-sm"
                                                            style="background-color:
                                                    #6c757d;
                                            border-color:#6c757d;">변경</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="userEmail">이메일</label></th>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                        <input type="text" class="form-control" id="userEmail" name="userEmail"
                                                               th:value="${userEmail}" readonly>
                                                    </div>
                                                    <div style="display: flex; align-items: center; margin-top: 10px">
                                                        <div class="email-edit-section" style="display: none;">
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="text" id="email" name="email" class="form-control" title="이메일 아이디" placeholder="이메일" maxlength="18" th:value="${email}"/>
                                                                <span style="margin: 0 5px;">@</span>
                                                                <input type="text" id="emailDomain" name="emailDomain" class="form-control" title="이메일 도메인" placeholder="도메인" maxlength="18" th:value="${domain}"/>
                                                                <select id="domainSelect"
                                                                        class="form-select"
                                                                        title="이메일 도메인 주소 선택" style="margin-left: 10px">
                                                                    <option value="">직접입력</option>
                                                                    <option value="naver.com">naver.com</option>
                                                                    <option value="gmail.com">gmail.com</option>
                                                                    <option value="hanmail.net">hanmail.net</option>>
                                                                    <option value="nate.com">nate.com</option>
                                                                </select>
                                                            </div>
                                                            
                                                            <div class="form-group position-relative d-flex align-items-center">
                                                                <div class="d-flex align-items-center" style="margin-right: 100px">
                                                                    <!-- 인증번호 전송 버튼 -->
                                                                    <button type="button" class="btn btn-primary btn-sm"
                                                                            id="sendCertificationNumberButton" style="width: 120px">
                                                                        인증번호 전송
                                                                    </button>
                                                                    <!-- 타이머 -->
                                                                    <div class="timer-container ml-2" style="margin-left: 30px">
                                                                        <!-- 타이머가 추가될 곳 -->
                                                                    </div>
                                                                </div>
                                                                
                                                                <input type="text" class="form-control" id="certificationNumber" name="certificationNumber" placeholder="인증번호">
                                                                <button type="button"
                                                                        class="btn btn-primary btn-sm"
                                                                        id="verificationButton"
                                                                        style="margin-left: 20px">확인</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-primary btn-sm"
                                                            id="emailModifyButton" style="background-color: #6c757d;
                                            border-color:#6c757d;">변경</button>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row">
                                                    <label>비밀번호 변경</label>
                                                </th>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                        <label for="newPassword" style="margin-right: 10px;">새 비밀번호</label>
                                                        <input type="password" class="form-control" id="newPassword"
                                                               name="newPassword">
                                                    </div>
                                                    <div class="error-message" id="pwdErrorMessage"
                                                         style="color: red; margin-top: 10px; margin-left: 75px;
                                                         font-size: 13px;
                                                             text-align: left"></div>
                                                    <div style="margin-top: 20px; display: flex; align-items: center">
                                                        <label for="confirmNewPassword" style="margin-right: 10px;">새 비밀번호 확인</label>
                                                        <input type="password" class="form-control"
                                                               id="confirmNewPassword" name="confirmNewPassword">
                                                    </div>
                                                    <div class="error-message" id="pwdConfirmMessage"
                                                         style="color: red; margin-top: 10px; margin-left: 100px;
                                                         font-size: 13px;
                                                             text-align: left"></div>
                                                    
                                                </td>
                                                <td>
                                                    <button id="modifyPwdButton" class="btn btn-primary btn-sm" style="background-color: #6c757d;
                                            border-color:#6c757d;">변경</button>
                                                </td>
                                                
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row"><label>서비스 연동</label></th>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                        <label for="messenger" style="margin-right: 10px;">서비스 타입</label>
                                                        <div class="row" id="messenger">
                                                            <div class="col-auto" th:each="hookType : ${hookTypes}">
                                                                <div class="form-check form-check-inline"
                                                                     style="margin-left: 25px">
                                                                    <input class="form-check-input" type="radio" name="messengerType"
                                                                           th:id="${hookType.hookTypeId}" th:value="${hookType.hookTypeId}"
                                                                           th:checked="${hookType.hookTypeId == userHook.hookTypeId}">
                                                                    <label class="form-check-label" th:for="${hookType.hookTypeId}"
                                                                           th:text="${hookType.hookTypeName}">
                                                                        ></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div style="margin-top: 20px; display: flex; align-items: center">
                                                        <label for="hookUrl"
                                                               style="margin-right: 10px;">연동 URL</label>
                                                        <input type="text" class="form-control" id="hookUrl"
                                                               name="hookUrl" th:value="${userHook.hookUrl}">
                                                    </div>
                                                    
<!--                                                    <div class="text-end" style="margin-top: 10px">-->
<!--                                                        <button class="btn btn-primary btn-sm" style="background-color: #6c757d;-->
<!--                                            border-color:#6c757d;">버튼</button>-->
                                                        

                                                        
<!--                                                    </div>-->
                                                    
                                                </td>
                                                <td>
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-primary btn-sm hookCreateButton"
                                                                th:if="${userHook.hookTypeId == null || userHook.hookUrl == null}">확인</button>
                                                        <button type="button" class="btn btn-primary btn-sm hookModifyButton"
                                                                th:if="${userHook.hookTypeId != null &amp;&amp; userHook.hookUrl != null}">수정</button>
                                                        <button type="button" class="btn btn-danger btn-sm hookDeleteButton"
                                                                th:if="${userHook.hookTypeId != null &amp;&amp; userHook.hookUrl != null}">삭제</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    
                                    </table>
                                </div>
                                
                                <div class="form-group text-center" style="margin-top: 20px">
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#inactiveUserModal">탈퇴</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="inactiveUserModal" tabindex="-1" aria-labelledby="inactiveUserModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <h1 class="modal-title fs-5" id="inactiveUserModalLabel"><b>회원 탈퇴</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-12 text-center align-self-center">
                                    정말로 탈퇴하시겠습니까?
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            <form id="inactiveUserForm" action="/inactiveUser" method="post">
                                <button type="submit" id="yesButton" class="btn btn-danger">예</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
