<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head>
        <script src="/assets/js/verify-password.js"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="page-header border-bottom">
                                    <div style="display: flex; flex-direction: column;">
                                        <h5 class="page-title" style="font-weight: bold;">회원정보확인</h5>
                                        <h6>회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인합니다.</h6>
                                    </div>
                                </div>
                                <div class="verifyPwdForm">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="text-align: center"><label for="userId">아이디</label></th>
                                                <td>
                                                    <input type="text" class="form-control" id="userId" th:value="${userId}" readonly>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align: center">
                                                    <label for="userPassword">비밀번호</label>
                                                </th>
                                                <td>
                                                    <input type="password" class="form-control" id="userPassword" name="userPassword">
                                                    <div class="error-message" id="errorMessage"
                                                         style="color: red; margin-top: 10px; font-size: 13px"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    
                                    </table>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" id="verifyPasswordButton"
                                            name="verifyPasswordButton" style="background-color: #6c757d;
                                            border-color:#6c757d; width: 200px">확인
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
