<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
    <head></head>
    <body>
        <th:block layout:fragment="content">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="page-header border-bottom">
                                    <h5 class="page-title">비밀번호 확인</h5>
                                </div>
                                <form action="/verify-pwd" method="post">
                                    <div class="form-group">
                                        <label for="userPassword">비밀번호</label>
                                        <input type="password" class="form-control" id="userPassword" name="userPassword" th:value="${userPassword}" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">확인</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
