<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
    <head>
        <meta charset="utf-8" />
        <title>Login Form</title>
        <script src="../login.js"></script>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <form th:action="@{/login}" method="post">
            <h2>로그인</h2>
            ID:<input type="text" name="id" /><br />
            PWD:<input type="password" name="pwd" /><br />
            <input type="submit" value="제출" />
        </form>
    </body>
</html>